@media only screen and (max-width: 400px) {
  header {
    padding: 0 10px;
    background-color: rgb(255, 255, 255);
  }

  .header-right {
    /* display: none; */
    position: absolute;
    height: 0px;
    width: 100%;
    top: -400px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
  }
  .header-right-js {
    top: 12vh;
    height: 400px;
  }

  .body-js .header-right {
    background-color: rgb(9, 5, 32);
  }

  .fa-sun {
    /* margin-left: 10px; */
    margin-right: 0;
  }

  .header-right a {
    padding: 10px;
  }

  .header-right-menu {
    display: inline-block;
  }

  .border::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0%;
    background: none;
    bottom: 0px;
    left: 0;
    transform: translateX(0%);
    border-radius: 5px;
    transition: 0.3s;
    display: none;
  }
  .border:hover::before {
    content: "";

    width: 0%;
  }

  .main-left {
    width: 100%;
    height: 50%;
  }
  .main-right {
    width: 100%;
  }
  .main-right-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .main-heading {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .main-para {
    font-size: 12px;
  }

  main {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    padding: 30px 10px;
    justify-content: center;
    align-items: center;
  }

  .main-right-img img {
    width: 100%;
  }

  .facilities {
    width: 100%;
    height: 170px;
    padding: 30px 10px;
  }

  .facilities-con img {
    width: 50px;
  }

  .about-container {
    height: 100%;
    padding: 30px 10px;
  }

  .about-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .about {
    flex-direction: column;
  }

  .about-right {
    width: 100%;
    height: 50%;
  }

  .about-left {
    margin-top: 50px;
  }

  .about-para {
    font-size: 12px;
  }

  .phone,
  .email {
    font-size: 10px;
  }

  .contact-heading {
    font-size: 16px;
  }

  .payment-container {
    width: 100%;
    height: 100px;
    padding: 0px 10px;
  }

  .payment-con img {
    width: 50px;
  }

  .zone-container {
    height: 100%;

    padding: 30px 10px;
  }

  .zone-img {
    width: 100%;
    height: 100%;
  }

  .zone-para {
    font-size: 12px;
  }

  .zone {
    flex-direction: column;
  }

  .zone-right {
    width: 100%;
  }

  .zone-left {
    margin-top: 50px;
  }

  .contact {
    height: 100%;
    padding: 30px 0px;
    gap: 10px;
  }

  .contact-right-para p {
    font-size: 12px;
  }

  .contact-main-heading {
    padding: 20px 0;
  }

  .contact-con {
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
    height: 400px;
  }
  .contact-right {
    width: 100%;
    height: 400px;
  }

  .contact-icon {
    width: 50px;
    height: 50px;
  }

  .Gallery {
    padding: 30px 10px;
  }

  footer {
    height: 100%;
    padding: 50px 10px;
  }

  .review-con {
    padding: 30px 10px;
  }

  .text {
    width: 100%;
  }

  .footer-link-con {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    gap: 70px;
  }
}

@media only screen and (min-width: 401px) and (max-width: 800px) {
  header {
    padding: 0 30px;
  }

  .header-right {
    /* display: none; */
    position: absolute;
    height: 0px;
    width: 100%;
    top: -400px;
    left: 0;
    background-color: rgba(255, 255, 255, 0.822);
    z-index: -1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: 0.3s ease;
  }
  .header-right-js {
    top: 12vh;
    height: 400px;
  }

  .body-js .header-right {
    background-color: rgb(9, 5, 32);
  }

  .fa-sun {
    /* margin-left: 10px; */
    margin-right: 0;
  }

  .header-right a {
    padding: 10px;
  }

  .header-right-menu {
    display: inline-block;
  }

  .border::before {
    content: "";
    position: absolute;
    height: 0px;
    width: 0%;
    background: none;
    bottom: 0px;
    left: 0;
    transform: translateX(0%);
    border-radius: 5px;
    transition: 0.3s;
    display: none;
  }
  .border:hover::before {
    content: "";

    width: 0%;
  }
  main {
    flex-direction: column-reverse;
    height: 100%;
    width: 100%;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
  }

  .main-left {
    width: 100%;
  }

  .main-heading {
    margin-bottom: 10px;
    font-size: 30px;
  }

  .main-para {
    font-size: 13px;
  }

  .main-right {
    width: 100%;
    justify-content: center;
  }

  .main-right-img img {
    width: 100%;
    height: 100%;
  }

  .facilities {
    width: 100%;
    height: 200px;
    padding: 30px 30px;
  }

  .facilities-con img {
    width: 60px;
  }

  .about-container {
    height: 100%;
    padding: 30px 30px;
  }

  .about-img {
    width: 100%;
    height: 400px;
    object-fit: contain;
  }

  .about {
    flex-direction: column;
  }

  .about-right {
    width: 100%;
  }

  .about-left {
    margin-top: 50px;
  }

  .payment-container {
    width: 100%;
    height: 200px;
    padding: 30px 30px;
  }

  .payment-con img {
    width: 60px;
  }

  .zone-container {
    height: 100%;

    padding: 30px 40px;
  }

  .zone-img {
    width: 100%;
    height: 100%;
  }

  .zone {
    flex-direction: column;
  }

  .zone-right {
    width: 100%;
  }

  .zone-left {
    margin-top: 50px;
  }

  .contact {
    height: 100%;
    padding: 30px 0px;
    gap: 10px;
  }

  .contact-main-heading {
    padding: 20px 0;
  }

  .contact-con {
    flex-direction: column;
  }

  .contact-left {
    width: 100%;
    height: 400px;
  }
  .contact-right {
    width: 100%;
    height: 400px;
  }

  .contact-icon {
    width: 70px;
    height: 70px;
  }

  .Gallery {
    padding: 30px 30px;
  }

  footer {
    height: 100%;
    padding: 50px 30px 100px 30px;
  }

  .review-con {
    padding: 30px 30px;
  }

  .text {
    width: 100%;
  }
  .main-heading {
    font-size: 40px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .footer-link-con {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    gap: 70px;
  }
}
@media only screen and (min-width: 801px) and (max-width: 900px) {
  header {
    padding: 0 30px;
  }

  .right h5 {
    font-size: 12px;
  }

  .header-right {
    display: inline-block;
  }

  .header-right-menu {
    display: none;
  }

  .header-mobile {
    display: none;
  }

  .menu {
    display: inline-block;
  }

  main {
    /* flex-direction: column-reverse; */
    /* height: 100%; */
    /* background-color: red; */
    width: 100%;
    padding: 30px 30px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .main-right-img img {
    /* width: 100%;
    object-fit: contain; */
    height: 400px;
  }

  .facilities {
    width: 100%;
    height: 250px;
    padding: 30px 40px;
  }

  .facilities-con img {
    width: 65px;
  }

  .about-container {
    /* height: 100%; */
    padding: 30px 40px;
  }

  .about-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

  .about {
    /* flex-direction: column; */
    gap: 20px;
  }

  .about-right {
    width: 100%;
  }

  .payment-container {
    width: 100%;
    height: 250px;
    padding: 30px 40px;
  }

  .payment-con img {
    width: 65px;
  }

  .zone-container {
    /* height: 100%; */

    padding: 0px 40px;
    gap: 0;
  }

  .zone-img {
    height: 100%;
  }

  .zone {
    /* flex-direction: column; */
  }

  .zone-right {
    width: 100%;
  }

  .contact-main-heading {
    padding: 20px 0;
  }

  .Gallery {
    padding: 30px 40px;
  }

  footer {
    height: 100%;
    padding: 50px 30px 150px 30px;
  }

  .review-con {
    padding: 30px 40px;
  }

  .text {
    width: 100%;
  }
  .main-heading {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .footer-link-con {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    gap: 70px;
  }
}
@media only screen and (min-width: 901px) and (max-width: 1100px) {
  header {
    padding: 0 30px;
  }

  .header-right {
    display: inline-block;
  }

  .header-right-menu {
    display: none;
  }

  main {
    /* flex-direction: column-reverse; */
    height: 100%;
    width: 100%;
    padding: 20px 30px;
    justify-content: center;
    align-items: center;
    gap: 0;
  }

  .main-right-img img {
    /* width: 100%;
    object-fit: contain; */
    height: 400px;
  }

  .facilities {
    width: 100%;
    height: 250px;
    padding: 30px 30px;
  }

  .facilities-con img {
    width: 70px;
  }

  .about-container {
    height: 100%;
    padding: 30px 30px;
  }

  .about-img {
    width: 100%;
    height: 500px;
    object-fit: contain;
  }

  .about {
    /* flex-direction: column; */
    gap: 20px;
  }

  .about-right {
    width: 100%;
  }

  .payment-container {
    width: 100%;
    height: 250px;
    padding: 30px 70px;
  }

  .payment-con img {
    width: 70px;
  }

  .zone-container {
    height: 100%;

    padding: 30px 30px;
  }

  .zone-img {
    /* width: 100%; */
  }

  .zone {
    /* flex-direction: column; */
  }

  .zone-right {
    width: 100%;
  }

  .contact-main-heading {
    padding: 20px 0;
  }

  .Gallery {
    padding: 30px 30px;
  }

  footer {
    /* height: 100%; */
    padding: 50px 30px;
  }

  .review-con {
    padding: 30px 30px;
  }

  .text {
    width: 100%;
  }
  .main-heading {
    font-size: 50px;
    margin-bottom: 30px;
    font-weight: 500;
  }

  .footer-link-con {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: start;
    gap: 70px;
  }
}
