* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #000;
  cursor: pointer;
}
::-webkit-scrollbar-thumb {
  background-color: #0b691f;
  background-clip: content-box;
  border: 3px solid transparent;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #26ad43;
}

/* header start */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: 12vh;
  background-color: rgb(255, 255, 255);
  z-index: 100;
  position: relative;
}

.border,
.focus-ankor-btn {
  margin-left: 20px;
}

.header-left {
  /* background-image: url(img/keansburg-removebg-preview.png); */

  /* width: 70px;
  height: 60px; */
}

.header-left-js {
  /* background-image: url(img/kensburg\ darkMod.png); */
}

.header-right {
  display: flex;
  /* gap: 25px; */
  align-items: center;
}

.fa-sun {
  color: #222222;
  cursor: pointer;
  margin-right: 10px;
  transform: rotate(360deg);
}

/* .fa-sun:hover {
  transform: rotate(-1deg);
} */

.header-ankor {
  text-decoration: none;
  font-size: 14px;
  color: #222222;
  display: inline-block;
  position: relative;
}

.focus-ankor-btn {
  margin-left: 10px;
}

.borderd {
  margin: 0 10px;
}

.borderd:hover {
  color: green;
}

.borderd::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 0%;
  background: linear-gradient(#26ad43, #0c7a24);
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 5px;
  transition: 0.3s;
}
.borderd:hover::before {
  content: "";

  width: 100%;
}

.sign-up {
  padding: 10px 13px;
  border-radius: 60px;
  border: none;
  color: white;
  background: linear-gradient(#26ad43, #0c7a24);
  cursor: pointer;
  transition: 0.15s;
}
.sign-up:hover {
  background: linear-gradient(#208f38, #0b691f);
}
.sign-up:active {
  background: linear-gradient(#208f38cc, #0b691f);
}

/* header end */

/* main start */

main {
  height: 88dvh;
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  align-items: center;
  /* gap: 40px; */
  position: relative;
}

.main-left {
  width: 50%;
}
.main-right {
  width: 50%;
  display: flex;
  justify-content: end;
}

.visitors-con {
  display: flex;
  column-gap: 15px;
  margin-bottom: 20px;
}

.visitors-count {
  margin-top: 10px;
  padding: 10px 5px;
  width: 100px;
  background-color: rgba(255, 166, 0, 0.315);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  gap: 5px;
}

.visitors-count h2 {
  font-size: 12px;
  font-weight: 500;
}

.visitors-count i {
  font-size: 20px;
  margin-bottom: 10px;
}
.visitors-count span {
  font-size: 18px;
}

.scroll-icon {
  height: 40px;
  width: 40px;
  background-color: #208f38b9;
  border-radius: 50%;
  position: fixed;
  bottom: 40px;
  right: 20px;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-right-img img {
  height: 400px;
}

.main-heading {
  font-size: 60px;
  margin-bottom: 30px;
  font-weight: 500;
}

.main-para {
  color: #222222;
  margin-bottom: 30px;
}
/* main end */

/* facilities start */

.facilities {
  width: 100%;
  height: 250px;
  padding: 0 100px;
  background-color: #f0faff;

  padding: 30px 100px;
}

.facilities-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.facilities-con img {
  width: 80px;
}

.facilities-heading {
  color: #222222;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

/* facilities end */

/* about start */

.about-container {
  height: 100vh;
  background-color: white;
  padding: 30px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  overflow: hidden;
}

#about-heading {
  position: absolute;
  left: 50%;
  top: 30px;
  transform: translateX(-50%);
}

.about-leaves {
  width: 120px;
}

.about-leaves-con {
  position: absolute;
  right: 0;
  top: 10px;
}

.about-heading {
  text-align: center;
  color: #222222;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.about-img {
  height: 400px;
}

.about {
  display: flex;
  justify-content: space-between;

  align-items: center;
  width: 100%;
}

.about-right {
  display: flex;
  justify-self: start;
  flex-direction: column;
  width: 50%;
}

.about-para {
  margin-bottom: 20px;
}

.contact-heading {
  color: #222222;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.phone {
  margin-bottom: 10px;
  font-size: 13px;
}
.email {
  margin-bottom: 30px;
  font-size: 13px;
}

.about-btn {
  padding: 10px 13px;
  border-radius: 60px;
  border: none;
  color: white;
  background: linear-gradient(#26ad43, #0c7a24);
  cursor: pointer;
  transition: 0.15s;
}
.about-btn:hover {
  background: linear-gradient(#208f38, #0b691f);
}
.about-btn:active {
  background: linear-gradient(#208f38cc, #0b691f);
}

/* about start */

/* zone start */

.zone-container {
  height: 100dvh;
  background-color: white;
  padding: 30px 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}

#zone-heading {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.zone-leaves {
  width: 120px;
}

.zone-leaves-con {
  position: absolute;
  right: 0;
  top: 10px;
}

.zone-heading {
  text-align: center;
  color: #222222;
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.zone-para {
  margin-bottom: 30px;
}

.zone-img {
  height: 400px;
}

.zone {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.zone-right {
  width: 50%;
}

.zone-btn {
  animation-name: shadow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* animation-fill-mode: both; */
  animation-direction: alternate-reverse;
}

@keyframes shadow {
  0% {
    box-shadow: 0px 0 0px 0px rgba(0, 128, 0, 0.322);
  }
  50% {
    box-shadow: 0px 0 10px 5px rgba(0, 128, 0, 0.322);
  }

  100% {
    box-shadow: 0px 0 10px 5px rgba(0, 128, 0, 0.322);
  }
}

/* zone end */
/* gallery start*/

.Gallery {
  background-color: #f0faff;
  height: 100%;
  padding: 30px 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  gap: 50px;
  position: relative;
  overflow: hidden;
}
.gallery-leaves {
  width: 120px;
}

.gallery-leaves-con {
  position: absolute;
  right: 0;
  top: 10px;
}
.Gallery h1 {
  color: #222222;
  font-size: 22px;
  font-weight: 500;
}

.gallery-con {
  display: flex;

  flex-wrap: wrap;
  gap: 50px;
  width: 100%;
  justify-content: center;
}

.gallery-img {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  filter: grayscale(1);
  cursor: pointer;
  transition: 0.2s;
}
.gallery-img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.fa-arrow-right {
  color: white;
  margin-left: 5px;
}

/* contac us start */

.contact {
  height: 100vh;
  width: 100%;
  padding: 30px 0px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-color: white;
}

.contact h1 {
  color: #222222;
  font-size: 22px;
  font-weight: 500;
}

.contact-con {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.contact-icon {
  width: 100px;
  height: 100px;
  border: 1px solid gainsboro;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-icons {
  display: flex;
  gap: 20px;
}

.contact-icon i {
  font-size: 20px;
  color: #ffffff;
}

.contact-left {
  width: 50%;
  background-color: rgb(0, 0, 0);
  height: 430px;
  display: flex;
  align-items: center;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
}
.whatsapp-icon {
  font-size: 13px;
}
.contact-left a {
  display: inline-block;
  text-decoration: none;
  margin-top: 20px;
}

.contact-right-para {
  margin-top: 20px;
}
.contact-right-para p {
  color: white;
  font-size: 15px;
}
.contact-right {
  width: 50%;
  background-color: gainsboro;
  height: 430px;
}

.our-location {
  height: 100%;
  width: 100%;
}

.body-js .contact {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

/* contact us end */

/* footer start */

footer {
  height: 100%;
  padding: 100px 100px;
  position: relative;
  width: 100%;
  background-color: rgb(0, 0, 0);
  overflow: hidden;
}

.footer-copy-para p {
  font-size: 12px;
  color: white;
}
.footer-para {
  margin-top: 30px;
  color: #ffffff;
  font-size: 15px;
}

.disclamer {
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: white;
}

.footer-link-con {
  margin-top: 30px;
}

.footer-link {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.flex-link {
  margin: 10px 20px 10px 0;
}
.flex-link a {
  color: white;
}

.footer-ankors {
}

.footer-copy-para {
  margin-top: 20px;
  font-size: 15px;
  color: white;
}

.fa-arrow-up {
  color: white;
}

.contact-img {
  width: 20px;
}

.linkdin,
.whatsapp {
  border-radius: 50%;
}

.social-img {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  cursor: pointer;
}

.social a {
  text-decoration: none;
  font-size: 20px;
}

.social {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  transition: 0.4s ease-in-out;
}

.social:hover {
  background-color: rgba(255, 255, 255, 0.103);
}

.contact-footer-heading {
  color: #ffffff;
  font-size: 20px;
  font-weight: 500;
  margin: 10px 0;
}

.footer-leaves {
  width: 120px;
}

.footer-leaves-con {
  position: absolute;
  right: 0;
  top: 10px;
}
.footer-right {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}

.grass-con {
  width: 100%;
  height: 30vh;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.grass img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  object-fit: cover;
}

.body-js .grass-con {
  background-color: rgb(9, 5, 32);
}
/* footer end */

/* review start */
.review-con {
  height: 100%;
  background-color: rgb(255, 255, 255);
  width: 100%;
  padding: 30px 100px;
}

.text {
  width: 100%;
  border: none;
  border-bottom: 1px solid gainsboro;
  background-color: transparent;
  color: #222222;
  height: 40px;
  outline: none;
  padding-left: 40px;
}

.comment-field {
  position: relative;
}

.pencil {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  color: #222222;
}

.review-heading {
  color: #222222;
  margin-bottom: 30px;
  font-size: 22px;
  font-weight: 500;
}

.review-comments {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
}

.review-item {
  height: 100%;
  width: 100%;
  /* background-color: #5a5a5a; */
  margin-bottom: 30px;
  padding: 10px 50px;
  position: relative;
}

.img-con img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.img-con {
  position: absolute;
  top: 5px;
  left: 0;
}

.user-name span {
  font-size: 15px;
  color: #222222;
  font-weight: 700;
  display: inline-block;
  margin-bottom: 5px;
}

.user-name img {
  width: 60px;
  margin-left: 10px;
}
.add-comment {
  margin: 20px 0;
}

.react {
  margin-top: 10px;
}
.fa-thumbs-down {
  margin-left: 10px;
  color: #1b1b1b80;
}
.fa-thumbs-down-js {
  margin-left: 10px;
  color: black;
}
.fa-thumbs-up {
  color: #1b1b1b80;
  cursor: pointer;
}
.fa-thumbs-up-js {
  color: #0c7a24;
}
.fa-thumbs-down {
  margin-left: 10px;
  cursor: pointer;
}

.user-comment p {
  font-size: 13px;
  color: #222222;
}

/* dark Mode */

.body-js .fa-sun {
  transform: rotate(360deg);
  /* transition: 0.7s; */
  color: yellow;
}

.fa-sun {
  transform: rotate(-360deg);
  transition: 0.9s;
}

.body-js header {
  background-color: rgb(9, 5, 32);
}

.body-js .header-ankor {
  color: white;
}

.body-js main {
  background-color: rgb(9, 5, 32);
}

.body-js h1 {
  color: white;
}

.body-js p {
  color: white;
}

.body-js .facilities {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .facilities-con img {
  filter: contrast(0%);
  filter: hue-rotate(0%);
}

.body-js .about-container {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .payment-container {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .zone-container {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .Gallery {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .review-con {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .text {
  color: white;
}

.body-js .pencil {
  color: gainsboro;
}

.body-js footer {
  background-color: rgb(9, 5, 32);
  border-top: 1px solid rgba(220, 220, 220, 0.164);
}

.body-js .footer-copy-para {
  color: white;
}

.header-mobile {
  position: absolute;
  left: 0;
  top: 12vh;
  width: 100%;
  background-color: #bb4f4f;
  height: 400px;
  transform: translateY(-450px);
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  box-shadow: 1px 5px 10px gainsboro;
}

div .mobile-ankor {
  margin-bottom: 10px;
}
.mobile-ankor-focus {
  margin-top: 20px;
}

.body-js .review-heading {
  color: white;
}
.body-js .text {
  color: white;
}

.body-js .user-name span {
  color: white;
}

.body-js .fa-thumbs-up {
  color: white;
}
.body-js .fa-thumbs-down {
  color: white;
}

.menu {
  width: 50px;
  height: 50px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: self-end;
  flex-direction: column;
  cursor: pointer;
  margin-bottom: 10px;
}

.a {
  background-color: rgb(20, 20, 20);
  width: 30px;
  height: 3px;
  display: block;
  border-radius: 10px;
  transform: translateY(-5px);
  transition: 0.4s;
  transform-origin: center;
}
.b {
  background-color: rgb(29, 29, 29);
  width: 20px;
  height: 3px;
  display: block;
  border-radius: 10px;
  transition: 0.4s;
}
.c {
  background-color: rgb(26, 26, 26);
  width: 10px;
  height: 3px;
  display: block;
  border-radius: 10px;
  transform: translateY(5px);
  transition: 0.4s;
  transform-origin: center;
}

.a-js {
  transform: rotate(-45deg);
  position: absolute;
  top: 23.5px;
}
.b-js {
  width: 0;
  align-self: center;
}
.c-js {
  position: absolute;
  bottom: 23.5px;
  transform: rotate(45deg);
  width: 30px;
}

.header-right-menu {
  display: none;
}

.body-js .a {
  background-color: rgb(255, 255, 255);
}
.body-js .b {
  background-color: rgb(255, 255, 255);
}
.body-js .c {
  background-color: rgb(255, 255, 255);
}

/* vistos dark mode */

.body-js .visitors-count {
  background-color: rgba(255, 166, 0, 0.808);
}

.body-js .header-logo {
  color: white;
}
