@media screen and (max-width:400px){
    header a{
        display: none;
    }

    .menu{
        display: inline-block;
        width: 30px;
    }

    .a {
        display: none;
       
    
    }
    
    .b{
        display: none;
    
    }
    
    
    .A{
        display: none;
    
    }
    
    .B{
       display: none;
    
    }
    
    

    
   
   
    
    
   
    
    
    
    
    header{
      padding: 0 20px;
    }

    .main {
       height: 100%;
        padding: 50px 20px;
        flex-direction:  column-reverse;
        
    
    
    }


    .main-right-image {
        width: 100%;
        
    }

    .mainheading {
       
        font-size: 15px;
       
    
    }

    .mainpara {
        font-size: 20px;
        font-weight: 900;
       
    
    }

    .mainpara2 {
        font-weight: 600;
        font-size: 10px;
        margin-bottom: 10px;
    }

    .mainpara2 {
        font-weight: 600;
        font-size: 10px;
        
    }

    .cv-btn {
        
        padding: 9px 10px;
        font-size: 8px;
        
       
       
    }

    .contact-btn {
      
           
        padding: 9px 10px;
        font-size: 8px;
      
    }
    .main-bottom {
       
    
       
        border-radius: 0px;
        padding:10px 0px;
       

    
        width: 100%;
        /* height: 100%; */
        
       
    }

    .bottom-img {
        height: 20px;
        vertical-align: middle;
    
    }

    .bottom-h1 {
        font-size: 10px;
        display: inline-block;
    }

    .bottom-left-para {
        font-size: 8px;
        
    }

    .About-me {
        height: 100%;
        width: 100%;
    
       flex-direction: column;
       padding: 50px 20px;
    }

    .data {
        margin-top: 10px;
    }

    .about-leftspan {
       
        display: none;
        
    }

    .about-leftspanbox {
      
        width: 100%;
        height: 100%;
        
      
    }

    .about-left {


        width: 100%;
        height: 100%;
       
      
        
       
    }

    
    .about-para {
       
        font-size: 10px;
        width: 100%;
       
    }

    .about-right{
        
        height: 30%;
    }

    .my-services {
        height: 100%;
        width: 100%;
       flex-direction: column;
       padding: 0 0px;
       
    
    }

    .ser1 {
      
        height: 15px;
        width: 100%;
       
    }

    .service-head,.ser-head2 {
        font-size: 100%;
        
    
    
    
    
    }

    .service-left,.service-right{
        width: 100%;
        padding: 0 100px;
    }

    .form {
        height: 100%;
        
        flex-direction: column;
        
    }

    form {
    
       
        padding:0 20px;
    }
  

    .form-left {
        width:100% ;
        position: relative;
       
        
       
    }

    .form-left-span{
        display: none;
        
    }

    .form-left {
        width: 100% ;
        text-align: center;
        position: relative;
       
        
       
    }

    .form-right{
        width: 100%;
        
    }
    .form-right{
        height: 100%;
    }

    .form-right img{
        height: 20px;
        
        margin-right: 10px;
    }
    .right-top-span2{
        font-size: 1px;
        display: inline-block;
    }


    
    
    .form-right{
        height: 100%;
        padding: 20px 0;
        
    }

    

    .text{
        
        font-size: 10px;
        
    }

    .right-top-span2{
        margin-left: 0px;
        width: 100%;
       
       
       
    }

    .right-top-span2{
        width: 100%;
    }

    .footer{
        padding: 0 20px;
    }

   
    
    

    

}


@media screen and (max-width:1200px){

    header a{
        display: none;
    }

    .menu{
        display: inline-block;
        width: 30px;
    }
    header{
      padding: 0 60px;
    }

    .main {
       height: 100%;
        padding: 50px 60px;
        /* flex-direction: column; */
        
        
    
    
    }

    .a {
        display: none;
       
    
    }
    
    .b{
        display: none;
    
    }
    
    
    .A{
        display: none;
    
    }
    
    .B{
       display: none;
    
    }


   

    .mainheading {
       
        font-size: 20px;
       
    
    }

    .mainpara {
        font-size: 35px;
        font-weight: 900;
       
    
    }

    .mainpara2 {
        font-weight: 600;
        font-size: 20px;
        
    }

    /* .cv-btn {
        
        padding: 9px 10px;
        font-size: 8px;
        
       
       
    }

    .contact-btn {
      
           
        padding: 9px 10px;
        font-size: 8px;
      
    } */
    /* .main-bottom {
       
    
       
        border-radius: 0px;
        padding:20px 0px;
       

    
        width: 100%;
        /* height: 100%; */
        
       
   

    .bottom-img {
        height: 30px;
        vertical-align: middle;
    
    }

    .bottom-h1 {
        font-size: 13px;
        display: inline-block;
    }

    .bottom-left-para {
        font-size: 11px;
        
    }

    .About-me {
        height: 100%;
        width: 100%;
    
       flex-direction: column;
       padding: 100px 60px;
    }

    .about-leftspan {
       
        display: none;
        
    }

    /* .about-leftspanbox {
      
        width: 100%;
        height: 80%;
     
         
        
      
    } */

    .about-left {


        width: 100%;
        height: 100%;
      
        
       
    }

    /* .about-image {
        height: 100%;
        width: 90%;
        text-align: center;
       
    } */

    .about-para {
       
        font-size: 13px;
        width: 100%;
    }

    .about-right{
        z-index: 100;
        width: 100%;
    }

    .my-services {
        height: 100%;
        width: 100%;
       /* flex-direction: column; */
       padding: 0px 0px;
       
    
    }

    .service-left,.service-right{
        width: 50%;
        padding: 0 60px;
    }

    .ser1 {
      
        height: 15px;
        width: 100%;
       
    }

    .service-head,.ser-head2 {
        font-size: 100%;
        
    
    
    
    
    }

    .form {
        height: 100%;
        
        flex-direction: column;
        
    }

    form {
    
       
        padding:0 60px;
    }
  

    .form-left {
        width:100% ;
        position: relative;
       
        
       
    }

    

    .form-left-span{
        display: none;
        
    }

    .form-left {
        width: 100% ;
        margin: 30px 0;
        text-align: center;
        position: relative;
       
        
       
    }

    .form-right{
        width: 100%;
        height: 100%;
       margin: 50px 0;
        text-align: center;
        
        
    }
    .form-right{
        height: 100%;
    }

    .form-right img{
        height: 20px;
        
        margin-right: 10px;
    }
    .right-top-span2{
        font-size: 1px;
        display: inline-block;
    }


    
    
    .form-right{
        height: 100%;
        padding: 20px 0;
        
    }

    

    .text{
        
        font-size: 10px;
        
    }

    .right-top-span2{
        margin-left: 0px;
        width: 100%;
       
       
       
    }

    .right-top-span2{
        width: 100%;
    }

    .footer{
        padding: 0 20px;
    }

   
    
    



}
    
@media screen and (max-width:1000px){

    header a{
        display: none;
    }

    .menu{
        display: inline-block;
        width: 30px;
    }
    header{
      padding: 0 40px;
    }

    .main {
       height: 100%;
        padding: 50px 40px;
        flex-direction:  column-reverse;
        
    
    
    }


    .main-right-image {
        width: 80%;
        
    }

    .mainheading {
       
        font-size: 15px;
       
    
    }

    .mainpara {
        font-size: 30px;
        font-weight: 900;
       
    
    }

    .mainpara2 {
        font-weight: 600;
        font-size: 20px;
        
    }

    /* .cv-btn {
        
        padding: 9px 10px;
        font-size: 8px;
        
       
       
    }

    .contact-btn {
      
           
        padding: 9px 10px;
        font-size: 8px;
      
    } */
    .main-bottom {
       
    
       
        border-radius: 0px;
        padding:20px 0px;
       

    
        width: 100%;
        /* height: 100%; */
        
       
    }

    .bottom-img {
        height: 30px;
        vertical-align: middle;
    
    }

    .bottom-h1 {
        font-size: 12px;
        display: inline-block;
    }

    .bottom-left-para {
        font-size: 10px;
        
    }

    .About-me {
        height: 100%;
        width: 100%;
    
       flex-direction: column;
       padding: 50px 30px;
    }

    .about-leftspan {
       
        display: none;
        
    }

    .about-leftspanbox {
      
        width: 60%;
        height: 60%;
     
         
        
      
    }

    .about-left {


        width: 80%;
        height: 100%;
      
        
       
    }

    .about-image {
        height: 60%;
        width: 60%;
        text-align: center;
    }

    .about-para {
       
        font-size: 13px;
        width: 100%;
    }

    .about-right{
        z-index: 100;
    }

    .my-services {
        height: 100%;
        width: 100%;
       
       padding: 0 0px;
       
    
    }

    .service-left,.service-right{
        width: 100%;
        padding: 0 20px;
    }

    .ser1 {
      
        height: 15px;
        width: 100%;
       
    }

    .service-head,.ser-head2 {
        font-size: 100%;
        
    
    
    
    
    }

    .form {
        height: 100%;
        
        flex-direction: column;
        
    }

    form {
    
       
        padding:0 20px;
    }
  

    .form-left {
        width:100% ;
        position: relative;
       
        
       
    }

    

    .form-left-span{
        display: none;
        
    }

    .form-left {
        width: 100% ;
        margin: 30px 0;
        text-align: center;
        position: relative;
       
        
       
    }

    .form-right{
        width: 100%;
        height: 100%;
       margin: 50px 0;
        text-align: center;
        
        
    }
    .form-right{
        height: 100%;
    }

    .form-right img{
        height: 20px;
        
        margin-right: 10px;
    }
    .right-top-span2{
        font-size: 1px;
        display: inline-block;
    }


    
    
    .form-right{
        height: 100%;
        padding: 20px 0;
        
    }

    

    .text{
        
        font-size: 10px;
        
    }

    .right-top-span2{
        margin-left: 0px;
        width: 100%;
       
       
       
    }

    .right-top-span2{
        width: 100%;
    }

    .footer{
        padding: 0 20px;
    }

   
    
    



}
    
    

   

